// Variables
- var pageTitle = "Jordan's Portfolio"
include head.jade
	body
		include header.jade
		.container.col
			.card.clearfix: p.
				#[img.dp(src="images/dp.jpg")]
				#[div.posthead #[span.posttitle MEME #[small - Jordan]]#[a.icon-star(href="#")]]
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis doloribus eos accusamus, nemo itaque
				 ipsam, maiores eum ut perspiciatis ipsum et veniam asperiores quisquam ratione vel similique quo est ad.
				 consectetur adipisicing elit. Doloribus quaerat totam inventore optio non tempore,
				 unde maiores iusto esse nam! Exercitationem recusandae possimus fugiat necessitatibus rerum repellendus nihil!
				 Consectetur, dolores.
			.card.clearfix: p.
				#[img.dp(src="images/dp.jpg")]
				#[div.posthead #[span.posttitle Orange Memes IV #[small - Jordan]]#[a.icon-star(href="#")]]
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis doloribus eos accusamus, nemo itaque
				 ipsam, maiores eum ut perspiciatis ipsum et veniam asperiores quisquam ratione vel similique quo est ad.
				 consectetur adipisicing elit. Doloribus quaerat totam inventore optio non tempore,
				 unde maiores iusto esse nam! Exercitationem recusandae possimus fugiat necessitatibus rerum repellendus nihil!
				 Consectetur, dolores.
			.card.clearfix: p.
				#[img.dp(src="images/dp.jpg")]
				#[div.posthead #[span.posttitle Orange Memes IV #[small - Jordan]]#[a.icon-star(href="#")]]
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis doloribus eos accusamus, nemo itaque
				 ipsam, maiores eum ut perspiciatis ipsum et veniam asperiores quisquam ratione vel similique quo est ad.
				 consectetur adipisicing elit. Doloribus quaerat totam inventore optio non tempore,
				 unde maiores iusto esse nam! Exercitationem recusandae possimus fugiat necessitatibus rerum repellendus nihil!
				 Consectetur, dolores.
				