header
	a(href="/Test%20Portfolio/build/"): h1= pageTitle
	a(class="sidebar-toggle"): p.menu MENU
.sidebar
	a(class="sidebar-toggle sidebar-off"): p.menu X
	ul
		li 
			a(href="index.html") home
		li
			a(href="blog.html") blog
		li
			a(href="blog2.html") about
