// Variables
- var pageTitle = "Jordan's Portfolio"
include head.jade
	body
		include header.jade
		.container
			.home.clearfix
				.header-img 
					h2.
						Jordan Gomes
				img.dp(src="images/dp.jpg")
				p.
					Hi my name is #[b Jordan], I have a passion for web design, programming and video games. In my spare time I enjoy talking to my friends on Skype and going riding with my friends.
				p.
					I live in #[b Townsville(Australia)] I am currently completing my #[b Certificate III in Information Technology] at #[b Tec-NQ] and hope to eventually get a job in web design or software development.


